<header class="header" class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		
		<nav>
			<ul class="nav navbar-nav navbar-left profile">
				<li><%= link_to "My Profile Application", profile_path %> </li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home",	home_path, {class: "links"} %></li>
				<li><%= link_to "Profile", profile_path %></li>
				<li><%= link_to "Activities", activities_path %></li>
				<li><%= link_to "Favorites", favorites_path %></li>
			</ul>
		</nav>
	</div>
</header>